<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<h1>Redirecting.......</h1>
<!-- <a href="output"> click here to see</a> -->
<meta http-equiv = "refresh" content = "7; url = /result/export" />
<div Class="container">
    <div class="alert alert-success">
    <strong>result.csv</strong> is successfully Downloaded
  </div>
   Not Redirected<a href="/result/export">Click here </a></div>
    </body>