<html>
  <head>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <meta http-equiv="refresh" content="2; url = upload_image" />
    Redirecting....
    <div class="container">
      <div class="alert alert-success">
        <strong>{{image_file}}</strong> is successfully hploded
      </div>
      Not Redirected<a href="upload_image">Click here </a>
    </div>
  </body>
</html>
